@media screen and (max-width:1100px){
    .menu{
        margin-right: 0;
    }
    
}
@media screen and (max-width:1100px){
    .item{
        margin-right: 15px;
    }
}
.nav-item{
    margin-right: 15px; ;
}
@media screen and (max-width:1100px){
    .container-inner{
        max-width: 80px;
    }
    .row{
        align-items: center;
    }
}
@media screen and (max-width:1100px){
    .menu{
        margin-right: 0;
    }
}
@media screen and (max-width:1100px){
    .nav-item{
        margin-left: 15px;
    }
}
@media screen and (max-width:1100px){
    .nav-inner{
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        margin-bottom: 15px;
    }
    .nav-butons{
        display: none;
    }
    .main-block{
        padding: 10px 0 20px;
    }
    .branding-info{
        max-width: 50px;
    }
    .branding-img{
        max-width: 45%;
    }
    @media screen and (max-width:700px){
        .branding-info{
            max-width: 100px;
        }
        .branding-img{
            max-width: 100%;
        }
    }
    @media screen and (max-width:700px){
        .main-title{
            font-size: 28px;
        }
    }

    @media screen and (max-width:700px){
        .main-title{
            font-size: 24px;
            margin-bottom: 20px;
        }
    } 
}
@media screen and (max-width:440px){
    .menu{
        display: none;
    }
    .logo{
        margin-bottom: 0;
    }
}





