html{
    scroll-behavior: smooth;
}
#reliability{
    behavior: 'cmooth';
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    background: rgb(244, 242, 242);
    color: rgb(1, 1, 1);
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-inner{
    max-width: 960px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav{

    background: #f2f2f2;
    padding: 25px 0;
    border-bottom: solid 6px #f2f2f2;
}
.nav-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.nav-rigth{
    display: flex;
    text-align: center;
}
.menu{
    display: flex;
    margin-right: 45px;
}
.nav-butons{
    display: flex;
}
.item{
    font-weight: 500;
    margin-right: 28px;
}
.nav-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 28px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}
.constructor-icon{
    padding: 12px 30px;
    background-color: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: block;
}
.con-icon{
    margin-left: 10px;
}
.main-block{
    text-align: center;
    background-color: #f2f2f2;
    background-size: cover;
    background-image:url(../img/whitedress.png) ;
    background-position: 50% 100%;
    /* padding: 84 # 356px; */
    background-repeat: no-repeat;
    margin-bottom: 140px;
   
}
.title{
    font-size: 36px;
    font-weight: 600;
}
.line-text{
    background-image: url(../img/linetext.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
}
.line-text-dark{
    background-image: url(../img/line-dark.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
}
.branding{
    padding-bottom: 70px;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 100px;
}
.branding-title{
    margin-bottom: 44px;
}
.branding-info{
    width: 352px;
}
.branding-info p{
    margin-bottom: 44px;
}
.branding-btn{
    width: 131px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin-top: -16px;
    background-color: #106887;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
}
.branding-img{
    max-width: 480px;
}
.advanrage-block{
    margin-bottom: 160px;
}
.advanrage-col{
    width: 192px;
}
.advanrage-title{
    font-weight: 600;
    position: relative;
    padding-top: 51px;
}
.advanrage-title::before{
    content: "";
    width: 46px; ;
    height: 41px;
    position: absolute;
    top: 0;
}
.advantage-title-1::before{
    background-image: url(../img/oblsj1.png) -10px -10px;  
}
.advanrage-col p{
    color: #b3b3b3;
}
.constructor-green{
    max-width: 907px;
    margin: 0 0 0 auto;
    position: relative;
    background-color: #10bd87;
    background-image: url(../img/pattern\ \(2\ 00\).png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    border-radius: 28px 0 0 0 ;
    padding: 50px 0 50px 11%;
}
.constructor-img{
    position: absolute;
    left: -43%;
    bottom: -47px;
}
.constructor-info{
    max-width: 352px;
}
.constructor-info h2{
    color: #fff;
    margin-bottom: 44px;
}
.constructor-info p{
    color: #487b6c;
    margin-bottom: 28px;
}


